@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  /* background-image:url('/Images/CapreseRoastedAsparagus.jpg'); */
  
  color: white;
  font: 87.5% 'Open Sans', sans-serif;
  margin: 0;
}

p {
  line-height: 1.5px;
}

after { clear: both; }

.SignUp {
  margin: 50px auto;
  width: 400px;
  color: rgba(59, 59, 59, 0.423);
  margin-bottom: 33px;
  padding: 5% !important;

}
h1{
    text-align: center;
}
.bg-img {
  background-image: url("/Images/kitchen ghosts.gif");
  /* background-color: #b5cd6082; */
    height: 600px;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    border-radius: 80px 80px;
   
  }

#myVideo{
    width: 100%;
    margin: 50px auto;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    margin-left: 0px;
    height: 600px;
  }
label {
    display: inline-block;
    margin-bottom: 9px;
} 
label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    margin-left: 26px;
    margin-top: 9px;
}



input[type=radio]:checked + label:after {
    margin-bottom: 1%;
	opacity: 1;
}


.SignUp form {
  padding: 35px 35px  35px  35px  !important;
  width: 100%;
  background: #ffffffbe;
  border:3px #ffffff solid;
  right: 0;
  margin: auto;
  margin-top: -2%;
  max-width: 350px;
  position: inherit;
  border-radius: 40px 50px;
}

.SignUp form input[type="text"] {
    background-color: #ffffff;
    border-radius: 40px 50px;
    color: #080808;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
    margin-bottom: 33px;
  }
  


.SignUp form input[type="email"] {
  background-color: #ffffff;
  border-radius: 40px 50px;
  color: #080808;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
  margin-bottom: 33px;
}

.SignUp form input[type="password"] {
  background-color:#ffffff;
  border-radius: 40px 50px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
  margin-bottom: 33px;
}

.SignUp form input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 40px 50px;
  color: white;
  cursor: pointer;
  margin-bottom: 33px;

}
