@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    margin-left: 10%;
    margin-right:10%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    background-color: white;
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
}
#mainText{
    text-align: center;
    font-size: 50px;
    font-family: 'Mulish', sans-serif;
    margin-top: 4%;
    margin-bottom: 5%;
}
.subtext{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}
.aboutUs{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}
.titles{
    font-size:50px ;
    text-align: center;
}
.subtext2{
    font-size: 30px;
}


.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 12px;
    cursor: pointer;
    flex: 0.5;
    color: #fff;
    transition: flex 0.75s ease-in;
    position: relative;
}

.panel h3 {
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}




  
  a {
    color: inherit;
  }
  
  .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
  }
  
  .card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.4;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 300px;
    width: 300px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-radius: 18px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    overflow: hidden;
    border: 2px solid #ccc;
    text-decoration: none;
  }
  
  .card h1 {
    margin: 0;
    font-size: 35px;
   
  }
  
  .card p {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 20px;
    background: rgba(20, 1, 1, 0.625);
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    line-height: 10px;
    
  }
  
  
  .card:hover {
    color: var(--color);
  }
  
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }
    .subtext2{
      font-size: 20px;}
  }
  
  @media screen and (max-width: 600px) {
    .cards-wrapper {
      padding: 4px 2px;
    }
    .container {
        width: 100%;
    }

    .subtext2{
        font-size: 20px;}
    }
  
  